.form-wrapper {
    max-width: 40%;
    margin: auto;
    margin-top: 25vh;
    font-size: 32px;
}

.form-wrapper h3 {
    color: #101828;
    font-size: 0.67em;
    font-weight: 700;
}

.form-wrapper p {
    color: #475467;
    font-size: .5em;
    font-weight: 400;
}

.form-wrapper .tel {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
}
.form-wrapper .form-btn {
    background-color: var(--primary-color);
    border: none;
    color: white;
    width: 100%;
    margin-top: 62px;
    padding: 0;
    cursor: pointer;
    margin-bottom: 48px;
}
.form-wrapper .form-btn:disabled {
    opacity: .4;
}
.form-wrapper button {
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    color: inherit;
    padding: 14px;
    font-size: .8em;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}